/* Add here all your CSS customizations */

.main{
  min-height: 100vh;
}

.nav-search {
  position: relative;
  top: 17px;
  width: 550px;
}   

.icon-feature{
  margin-right: 30px;
  font-size: 20px;
}

.product-list {
  border: solid 1px;
  padding: 15px;
  border-radius: 25px;
}

.header-row p {
  top: 10px;
  position: relative;
  font-size: 12px;
}

@media (max-width: 1200px) {
	.nav-search {
    width: 350px;
  }
}

@media (max-width: 900px) {
	.nav-search {
    width: 100%;
    top: 5px;
  }
}

@media (max-width: 420px) {
  .features-icon-nav {
    display: none;
  }
}