html {
	direction: ltr;
	overflow-x: hidden;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-font-smoothing: antialiased;
}

body {
	background-color: #FFF;
	color: #777;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	margin: 0;
}

.main{
  min-height: 100vh;
}

.nav-search {
  position: relative;
  width: 550px;
} 

.icon-header {
  font-size:20px;
  color: black;
}

.icon-header:hover {
  color: #fd5757;
}

.cart-icon--xl .cart-icon-count {
  border-radius: 13px;
  border-width: 2px;
  height: 20px;
  min-width: 20px;
  line-height: 22px;
  font-size: 0.8rem;
}

.cart-icon-count {
  bottom: 54%;
  right: -18%;
  background: #fd5757;
}

.bg-secondary {
  background-color: #252525 !important;
}

.mobile-navigation-list-item, .mobile-navigation-sublist-item {
  padding: 10px 15px;
}

.card-body-img-feature{
  padding: 70px;
}

.category-links-title{
  color: black;
  font-weight: bold !important;
  line-height: 1.06 !important;
  letter-spacing: 0.4px !important;
}

.icon-signup {
  border: 3px solid;
  border-radius: 25px;
  padding: 20px;
  margin: auto;
}

.icon-signup img{
  height: 100px;
  left: 80px;
  position: relative;
}

.icon-signup h1{
  position: absolute;
  top: 54px;
  right: 120px;
  font-weight: 500;
  font-size: 3rem;
}

.icon-signup h1:hover{
  color: #fd5757;
}

.register-head h1{
  font-size: 3.5em;
  font-weight: 400;
}

// Products
.product-box{
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin: 15px;
  flex: inherit;
  border-radius: 10px;
}

.product-detail {
  padding: 20px;
}

.product-box a{
  text-decoration:none;
}

.taxon-scroll{
  overflow: auto;
  white-space: nowrap;    
  padding-left: 15px;
  padding-right: 15px;
}

.vendor-box {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04);
  border: 1px solid #EEE;
  text-align: center;
  padding: 15px;
}

.homepage-category ul{
  list-style-type: none;
}

.homepage-category > ul > li{
  padding: 20px;
  border-bottom: 1px solid #d6d6d6;
}

.homepage-category > ul > li:hover{
  border-left: 4px solid #fd5757;
}

.homepage-category > ul > .without-border-bottom{
  border-bottom: 0;
}

.homepage-category > ul > li > a {
  font-size: 1.2rem;
}

.homepage-category > ul > li > a:hover {
  text-decoration: none;
}

.homepage-category > ul > li > a > img{
  width: 50px;
}

.category-title {
  border-left: 4px solid #fd5757;
  padding-left: 20px;
}

.category-count {
  position: absolute;
  background-color: #fff;
  z-index: 1;
  left: 20px;
  top: 20px;
  width: 10%;
  text-align: center;
}

.dropdown-menu.show li > a {
  text-decoration: none;
}

.taxon-header{
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  max-width: 100%;
}

.taxon-header-image {
  position: relative;
  top: 0;
}

.taxon-title-new {
  position: absolute;
  z-index: 1;
  top: 130px;
  left: 50px;
  color: #f7f7f7;
}

.taxon-breadcrumb {
  position: absolute;
  z-index: 1;
  top: 70px;
  left: 50px;
}

.taxon-breadcrumb #breadcrumbs .breadcrumb li {
  color: #f7f7f7;
}

.taxon-banner-text{
  top: 20px;
  left: 0;
  justify-content: left;
}

.taxon-banner-text h3{
  background: transparent;
  line-height: 1.5;
  font-weight: 900;
  text-transform: capitalize;
  font-size: 1.3rem !important;
}

@media (min-width: 992px){
  .homepage-taxon-box {
      height: 250px;
  }
  .homepage-taxon-box h3 {
    font-size: 1rem;
  }
}

@media (max-width: 1100px) {
  .navbar-right {
    margin-right: 25px;
  }
  .icon-signup img{
    height: 100px;
    left: 40px;
    position: relative;
  }
  .icon-signup h1{
    font-size: 3rem;
    top: 50px;
    right: 75px;
  }

  .homepage-category {
    display: none;
  }
}

@media (max-width: 991px) {
  .icon-signup h1{
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .icon-signup img{
    height: 80px;
    left: 25px;
    position: relative;
  }
  .icon-signup h1{
    font-size: 2rem;
    top: 42px;
    right: 60px;
  }
  // Products
  .product-box{
    margin: 15px;
  }

  .homepage-category {
    display: none;
  }
}


@media (max-width: 420px) {
  .navbar-right {
    margin-right: 10px;
  }
  .product-box{
    margin: 15px;
    flex: auto;
  }
  .product-component-name {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .product-component-price {
    font-size: 1rem;
    line-height: 2rem;
  }

  .homepage-category {
    display: none;
  }
}
