html {
	direction: ltr;
	overflow-x: hidden;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-font-smoothing: antialiased;
}

body {
	background-color: #FFF;
	color: #777;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	margin: 0;
}