= link_to spree.cart_path, class: "cart-icon cart-icon--visible-count #{local_assigns[:class]}",'aria-label': Spree.t(:cart) do                                      
  i.fas.fa-dolly-flatbed.icon-header
  - if item_count > 0
    .font-weight-medium.cart-icon-count= item_count
